body {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 50px auto;
    max-width: 1200px;
}

.product-image img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.product-details {
    margin-left: 30px;
    flex: 1;
}

.product-details h1 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 15px;
}

.product-details .category {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

.product-details .description {
    font-size: 1.1rem;
    color: #555;
    margin-bottom: 20px;
}

.product-details .price {
    font-size: 1.8rem;
    font-weight: bold;
    color: #ff6600;
    margin-bottom: 30px;
}

.product-details .btn {
    background-color: #ff6600;
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product-details .btn:hover {
    background-color: #ff5500;
}

/* Seção de Comentários */
.comments-section {
    margin-top: 50px;
    padding: 50px;
    background-color: white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1200px;
    margin: 50px auto;
}

.comments-section h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 30px;
}

.comments-list {
    margin-bottom: 30px;
}

.comment {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.comment h4 {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 10px;
}

.comment p {
    font-size: 1rem;
    color: #666;
}

.comment .comment-date {
    font-size: 0.8rem;
    color: #999;
    text-align: right;
    display: block;
    margin-top: 10px;
}

.comment-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.comment-form textarea {
    width: 100%;
    padding: 20px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    outline: none;
    transition: border-color 0.3s ease;
}

.comment-form textarea:focus {
    border-color: #ff6600;
}

.comment-form .btn {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #ff6600;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

.comment-form .btn:hover {
    background-color: #ff5500;
}
